STRIPE_SECRET_KEY=your-stripe_secret_key
STRIPE_PUBLISHABLE_KEY=your-stripe_publishable_key
STRIPE_WEBHOOK_SECRET=your-stripe_webhook_secret
# Stripe CLI提供的Webhook Secret
# STRIPE_WEBHOOK_SECRET=your-# stripe_webhook_secret

NEXT_PUBLIC_BASE_URL=your-next_public_base_url

NEXT_PUBLIC_FIREBASE_API_KEY=your-next_public_firebase_api_key
NEXT_PUBLIC_FIREBASE_AUTH_DOMAIN=your-next_public_firebase_auth_domain
NEXT_PUBLIC_FIREBASE_PROJECT_ID=your-next_public_firebase_project_id
NEXT_PUBLIC_FIREBASE_STORAGE_BUCKET=your-next_public_firebase_storage_bucket
NEXT_PUBLIC_FIREBASE_MESSAGING_SENDER_ID=your-next_public_firebase_messaging_sender_id
NEXT_PUBLIC_FIREBASE_APP_ID=your-next_public_firebase_app_id

FIREBASE_PROJECT_ID=your-firebase_project_id
FIREBASE_CLIENT_EMAIL=your-firebase_client_email
FIREBASE_PRIVATE_KEY=your-firebase_private_key
FIREBASE_DATABASE_URL=your-firebase_database_url

NEXT_PUBLIC_USE_CONTACT_API=your-next_public_use_contact_api

EMAIL_FROM=your-email_from

GMAIL_CLIENT_ID=your-gmail_client_id
GMAIL_CLIENT_SECRET=your-gmail_client_secret
GMAIL_REDIRECT_URI=your-gmail_redirect_uri
GMAIL_REFRESH_TOKEN=your-gmail_refresh_token